* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

#gameCanvas {
    box-shadow: 0 0 8vmin #cd6767;
}

#startButton {
    background-color: #C0C0C0;
    color: black;
    appearance: unset;
    display: inline-block;
    font-weight: bold;
    max-width: 80vw;
    font-size: 8vmin;
    padding: .25em .33em;
    cursor: pointer;
    border: 0.1875em outset #E0E0E0;
    outline: 0;

    box-shadow: 3vmin 3vmin #006060;
}

#startButton:hover {
    filter: brightness(1.025);
}

#startButton:active {
    filter: none;
    border-style: inset;
    text-indent: 0.1em;
    box-shadow: 1.5vmin 1.5vmin #006060;
    transform: translate(1.5vmin, 1.5vmin);
}

body {
    background-color: #f0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

noscript {
    font-size: 4vw;
    font-weight: bold;
    background-color: #d05050;
    color: #f0f0d0;
    padding: .1em .2em;
}

#loading {
    color: #cd6767;
    text-shadow: 0 0.0275em 0.083em #cd6767a0;
    font-size: 12vw;
    font-weight: bold;
    animation: wiggle 0.8s alternate-reverse infinite;
    animation-timing-function: cubic-bezier(1,.02,.98,.6);
}

#loading::before {
    content: "Loading";
}

@keyframes wiggle {
    0%, 100% {
        transform: translate(.03em, -.02em) rotate(2deg);
    }
    25% {
        transform: translate(-.01em, .03em) rotate(-.6deg);
    }
    50% {
        transform: translate(.04em, .01em) rotate(.6deg);
    }
    75% {
        transform: translate(-.02em, -.03em) rotate(-2deg);
    }
    12.5%, 87.5% {
        transform: translate(.01em, -.01em) rotate(1.5deg);
    }
    62.5%, 37.5% {
        transform: translate(-.01em, .01em) rotate(-1deg);
    }
}
