* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

#gameCanvas {
    box-shadow: 0 0 8vmin #cd6767;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#startButton::before {
    content: "Hello";
}

#startButton {
    background-color: #cd6767;
    color: white;
    appearance: unset;
    display: inline-block;
    font-weight: bold;
    padding: .1em .4em;
    font-size: 8vw;
    border-radius: 9999px;
    cursor: pointer;
    border: none;
    outline: none;

    box-shadow: 0 .2em 8vmin #cd676780;
}

#startButton:hover {
    filter: brightness(1.025);
}

#startButton:active {
    filter: none;
    box-shadow: 0 .05em 3vmin #cd676780;
    transform: translate(0, 1.5vmin);
}

body {
    background-color: #f0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

noscript {
    font-size: 4vw;
    font-weight: bold;
    background-color: #d05050;
    color: #f0f0d0;
    padding: .1em .2em;
}

#loading {
    color: #cd6767;
    text-shadow: 0 0.0275em 0.083em #cd6767a0;
    font-size: 12vw;
    font-weight: bold;
    animation: wiggle 0.8s alternate-reverse infinite;
    animation-timing-function: cubic-bezier(1,.02,.98,.6);
}

#loading::before {
    content: "Loading";
}

@keyframes wiggle {
    0%, 100% {
        transform: translate(.03em, -.02em) rotate(2deg);
    }
    25% {
        transform: translate(-.01em, .03em) rotate(-.6deg);
    }
    50% {
        transform: translate(.04em, .01em) rotate(.6deg);
    }
    75% {
        transform: translate(-.02em, -.03em) rotate(-2deg);
    }
    12.5%, 87.5% {
        transform: translate(.01em, -.01em) rotate(1.5deg);
    }
    62.5%, 37.5% {
        transform: translate(-.01em, .01em) rotate(-1deg);
    }
}
